<?xml version='1.0' standalone='yes' ?>
<LVData xmlns="http://www.ni.com/LVData">
<Version>20.0</Version>
<Cluster>
<Name>Settings</Name>
<NumElts>4</NumElts>
<Path>
<Name>Log File Base Path</Name>
<Val>C:\Users\Josh\Desktop\research\ThermistorCML\output</Val>
</Path>
<Refnum>
<Name>Analog Input Channel</Name>
<RefKind>Generic Tag</RefKind>
<RefType>ULxIORefnumTag</RefType>
<Val>Dev0/Ai2</Val>
</Refnum>
<DBL>
<Name>Max Value</Name>
<Val>5.00000000000000</Val>
</DBL>
<DBL>
<Name>Min Value</Name>
<Val>-5.00000000000000</Val>
</DBL>
</Cluster>
</LVData>